<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/chaos.css">

		<title>System Applications</title>
	</head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <a class="navbar-brand" href="/home">Chaos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  System
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/sysapps">Applications</a>
                  <a class="dropdown-item" href="/systenants">Tenants</a>
                  <a class="dropdown-item" href="/sysusers">Users</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Another action</a>
                </div>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form action="/logout">
                <button class="btn btn-outline-primary my-2 my-sm-0" name="logout" id="logout" type="submit">Logout</button>
            </form>
          </div>
        </nav>
        <div class="container-fluid">
            <div class="messages">
                <%if (validationErrors) { var message=""; %>
                    <div class="alert alert-danger" role="alert">
                        <%for (i=0;i<validationErrors.length;i++) { message += validationErrors[i].param + ': '+ validationErrors[i].msg } %>
                    </div>
        		<%}%>
        	</div>
            <% var id=0; var name=""; var description=""; var active =false; %>
            <% list.push({ name: 'New Application', description: 'Click to Create a new Application', id: -1, active: -1}); %>
            <% const cardsPerRow = 5; %>
            <% var numDecks = Math.round(list.length/cardsPerRow+0.5); %>
            <% var k=0; var i=0; var linkURL=""; var linkName=""; var cardClass=""; var cardStatus=""; var cardId=""; %>
            <% for (var j=0; j < numDecks; j++) { k=0; %>
                <div class="row">
                    <% while (k < cardsPerRow) { i = cardsPerRow*j+k; k++; %>
                        <% if ( i < list.length ) { %>
                            <% if (list[i].active == -1) { cardId="New"; linkName="Create"; cardClass="primary"; cardStatus="New"; %>
                            <%} else { cardId=list[i].id; linkName="Details"; %>
                                <% if (list[i].active == 1) { cardClass = "success"; cardStatus="Active"; } else {cardClass = "dark"; cardStatus="Inactive";} %>
                            <%}%>
                            <div class="card col-sm-2 rounded-0 mb-3 bg-light border-<%=cardClass%>">
                                <div class="card-body px-1">
                                    <p class="card-title lead font-weight-bold text-<%=cardClass%>"><%=list[i].name%></p>
                                    <p class="card-text"><%=list[i].description%></p>
                                </div>
                                <div class="card-footer border-top-0 bg-light px-1 my-2">
                                    <p class="card-text"><small>ID: <%=cardId%>, <em><%=cardStatus%></em></small></p>
                                    <a href="#" class="btn btn-sm btn-primary" data-target="/sysapps/<%=list[i].id%>" data-action="goToApp" data-id="<%=list[i].id%>"/>
                                    <a href="#" class="btn btn-sm btn-<%=cardClass%>" data-toggle="modal" data-target="#exampleModal" data-action="<%=linkName%>" data-id="<%=list[i].id%>" data-name="<%=list[i].name%>" data-description="<%=list[i].description%>" data-active="<%=list[i].active%>"><%=linkName%></a>
                                </div>
                            </div>
                        <%}%>
                    <%}%>
                </div>
            <%}%>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Application</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form action="/sysapps" method="post">
                          <div class="form-group">
                               <label for="id">Id</label>
                               <input class="form-control" type="text" name="id" id="id" readonly>
                           </div>
                          <div class="form-group">
                				<label for="name">Name</label>
                				<input class="form-control" type="text" name="name" id="name">
                			</div>
                          <div class="form-group">
                				<label for="description">Description</label>
                				<textarea class="form-control" rows="3" name="description" id="description"></textarea>
                			</div>
                          <div class="form-group form-check">
                              <input type="checkbox" class="form-check-input" name="active" id="active">
                				<label class="form-check-label" for="active">Active</label>
                			</div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button id="save" type="submit" class="btn btn-primary" value="save">Save</button>
                            </div>
                		</form>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script type="application/javascript">
            $("#save").click(function(){
                $.post( "/sysapps", function( data ) {
                    $( ".result" ).html( data );
                });
            });
            $('#exampleModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var action = button.data('action');
              var id = button.data('id');
              var name = button.data('name');
              var description = button.data('description');
              var active = button.data('active');
              var modal = $(this)
              if (id != -1) {
                  modal.find('.modal-title').text('Application: ' + action);
                  modal.find('#id').val(id);
                  modal.find('#name').val(name);
                  modal.find('#description').val(description);
                  if (active) {
                      modal.find('#active').prop( "checked", true );
                  } else {
                      modal.find('#active').prop( "checked", false );
                  }
              } else {
                  modal.find('#id').val("New");
              }
            })
        </script>
    </body>
</html>
